{% extends 'layout_main.html.twig' %}
{% block title %}Modification d'une inscription
{% endblock %}
{% block content %}
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Modification d'une inscription</h1>
					{% if classe is defined %}
						<div class="{{classe}}">{{resultat}}</div>
					{% endif %}
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<a href="#">Accueil</a>
						</li>
						<li class="breadcrumb-item active">Modification d'un inscription</li>
					</ol>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">

					<div class="card">
						<div class="card-header">
							{% if action == 'create' %}
								<h2 class="card-title">Modifier l'inscription</h2>
							{% endif %}
							{% if action == 'edit' %}
								<h2 class="card-title">Modifier l'inscription de [{{ inscription.apprenant.PrenomApprenant }} {{ inscription.apprenant.NomApprenant }}]</h2>
							{% endif %}
						</div>
						<!-- /.card-header -->
						<div class="card-body">

							{{ form_start(form, {'attr': {'id': 'field_form'}}) }}
							{{ form_errors(form) }}
							<div class="card-body">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											{{ form_label(form.niveau, "Selectionner le niveau", {'label_attr': {'class': 'form-label'}}) }}
											{{ form_widget(form.niveau, {'attr': {'class': 'form-control' } }) }}
											{{ form_errors(form.niveau) }}
										</div>
									</div>
									{% if is_granted(role_caissier_superieur) %}
									<div class="col-md-6">
										<div class="form-group">
											{{ form_label(form.filiere, "Selectionner la filière", {'label_attr': {'class': 'form-label'}}) }}
											{{ form_widget(form.filiere, {'attr': {'class': 'form-control' } }) }}
											{{ form_errors(form.filiere) }}
										</div>
									</div>
									{% endif %}
									<div class="col-md-6">
										<div class="form-group">
											{{ form_label(form.montantInscription, "Montant d'inscription ", {'label_attr': {'class': 'form-label'}}) }}
											{{ form_widget(form.montantInscription, {'attr': {'class': 'form-control' } }) }}
											{{ form_errors(form.montantInscription) }}
										</div>
									</div>
								
								</div>
								<div class="row">
								<div class="col-md-4"></div>
								<div class="col-md-4">

									<div class="col-md-4"></div>
								</div>
								<div class="card-footer">
									<button type="submit" class="btn btn-sm btn-success float-right">
										<i class="fa fa-save"></i>
										Sauvegarder</button>
									{{ form_rest(form) }}
									{{ form_end(form) }}
									<button type="button" class="btn btn-sm btn-default float-right mr-1 back" onclick='location.href="{{ path('list_apprenant') }}"'>
										<i class="fa fa-ban"></i>Annuler</button>

								</div>


							</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->
						</div>
						<!-- /.col -->
						<!-- /.row -->
					</div>
					<!-- /.container-fluid -->
				</section>
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->


			<!-- Control Sidebar -->
			<aside
				class="control-sidebar control-sidebar-dark"><!-- Control sidebar content goes here -->
			</aside>
			<!-- /.control-sidebar -->
		</div>
		<!-- ./wrapper -->


	{% endblock %}
	{% block autresFichiersJs %}
		<!-- jQuery -->
		<script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
		<!-- Bootstrap 4 -->
		<script src="{{ asset('plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
		<!-- AdminLTE App -->
		<script src="{{ asset('dist/js/adminlte.min.js') }}"></script>
		<!-- AdminLTE for demo purposes -->
		<script src="{{ asset('dist/js/demo.js') }}"></script>
		<!-- Summernote -->
		<script src="{{ asset('plugins/summernote/summernote-bs4.min.js') }}"></script>
		<script>
			$(function () { // Summernote
$('.textarea').summernote()
})
		</script>


	{% endblock %}
