{% extends 'layout_main.html.twig' %}
{% block title %}Liste versements
{% endblock %}
{% block autresfichierscss %}{% endblock %}
{% block content %}
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Liste versements</h1>
					{% if classe is defined %}
						<div class="{{classe}}">{{resultat}}</div>
					{% endif %}
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<a href="#">Accueil</a>
						</li>
						<li class="breadcrumb-item active">Liste versements</li>
					</ol>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Tableau de liste des versements</h3>
							<div class="card-tools">
							</div>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<table id="versement" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>Matricule</th>
										<th>Apprenant</th>
										<th>Montant versé</th>
										<th>date-versement</th>
										<th>Montant Total</th>
										<th>Montant Restant</th>
										<th>Actions</th>
										<th>Impression</th>
									</tr>
								</thead>
								<tbody>
									{% for versement in versements %}
										<tr>
											<td>{{ versement['id'] }}</td>
											<td>{{ versement['NomApprenant'] }}
											    {{ versement['PrenomApprenant'] }} </td>
											<td>{{ versement['montantVersement'] }}</td>
											<td>{{ versement['DateVersements'] |date('d-m-Y') }}</td>
											<td>{{ versement['montant'] }}</td>
											<td>{{ versement['montant']- versement['montantVersement'] }}</td>
											<!--Accès uniquement pour les caissiers-->
											{% if is_granted(role_caissier_superieur) or is_granted(role_caissier_secondaire) or is_granted(role_caissier_primaire) %}
												<td>
													<a class="btn btn-info btn-sm" href="{{ path('edit_versement', {'id': versement.id}) }}" onclick="return confirm('Etes-vous sûr de vouloir modifier cette versement?')">
														<i class="fa fa-edit"></i>
														<span class="sr-only">Editer</span>
													</a>
													{%if versement['statut'] == 1 %}
														<a class="btn btn-danger btn-sm" href="{{ path('desabled_versement', {id: versement.id}) }}" onclick="return confirm('Etes-vous sûr de vouloir desactiver cette versement?')">
															<i class="fa fa-trash"></i>
															<span class="sr-only">delete</span>
														</a>
													{% endif %}
													{%if versement['statut'] == 0 %}
														<a class="btn btn-success btn-sm" href="{{ path('enable_versement', {id: versement.id}) }}" onclick="return confirm('Etes-vous sûr de vouloir activer cette versement?')">
															<i class="fa fa-edit"></i>
															<span class="sr-only">activate</span>
														</a>
													{% endif %}
												</td>
												<td>
												<a class="btn btn-warning btn-sm" href="{{ path('detail_versement', {id: versement.id}) }}">
													<i class="fa fa-print"></i>
													<span class="sr-only">reçu</span>
												</a>
											</td>
											{% endif %}
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- /.content -->

{% endblock %}
{% block autresFichiersJs %}
	<!-- jQuery -->
	<script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
	<!-- Bootstrap 4 -->
	<script src="{{ asset('plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
	<!-- DataTables  & Plugins -->
	<script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
	<script src="{{ asset('plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
	<script src="{{ asset('plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
	<script src="{{ asset('plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
	<script src="{{ asset('plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
	<script src="{{ asset('plugins/jszip/jszip.min.js') }}"></script>
	<script src="{{ asset('plugins/pdfmake/pdfmake.min.js') }}"></script>
	<script src="{{ asset('plugins/pdfmake/vfs_fonts.js') }}"></script>
	<script src="{{ asset('plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
	<script src="{{ asset('plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
	<script src="{{ asset('plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
	<!-- AdminLTE App -->
	<script src="{{ asset('dist/js/adminlte.min.js') }}"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="{{ asset('dist/js/demo.js') }}"></script>
	<!-- Page specific script -->
	<script>
		$(function () {
$("#versement").DataTable({
"responsive": true,
"aaSorting": [
[0, "desc"]
],
oLanguage: {
sSearch: "Rechercher : ",
sZeroRecords: "Aucune valeur trouvée",
sInfo: "Afficher page _PAGE_ sur _PAGES_",
sInfoFiltered: "(Filtres sur _MAX_ )",
sInfoEmpty: "",
oPaginate: {
sFirst: "Premier",
sPrevious: "Pr&eacute;c&eacute;dent",
sNext: "Suivant",
sLast: "Dernier"
}
},
"lengthChange": false,
"autoWidth": false,
"buttons": [
"copy",
"csv",
"excel",
"pdf",
"print",
"colvis"
]
}).buttons().container().appendTo('#versement_wrapper .col-md-6:eq(0)');

});
	</script>
{% endblock %}